<div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4">Sobre Nosotros</h1>
            <p class="lead">Explora el mundo con la mejor óptica y equipo fotográfico.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Nuestra Misión</h2>
                <p>
                    En <strong>E-commerce</strong>, nos dedicamos a proporcionar equipos fotográficos y ópticos de primera categoría, tanto para profesionales como para aficionados. Creemos que la fotografía y la visión son herramientas poderosas para descubrir y expresar la belleza del mundo, y nuestra misión es acercarte a ellas con tecnología de vanguardia.
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://via.placeholder.com/500" class="img-fluid rounded" alt="Fotografía y óptica">
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://via.placeholder.com/500" class="img-fluid rounded" alt="Productos ópticos y fotográficos">
            </div>
            <div class="col-md-6">
                <h2>Nuestros Productos</h2>
                <div>
                    {{>product}}
                </div>

            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Por qué Elegirnos</h2>
                <p>
                    Nos destacamos no solo por la <strong>calidad de nuestros productos</strong>, sino por el <strong>asesoramiento personalizado</strong> que ofrecemos a cada cliente. Sabemos que cada proyecto fotográfico o necesidad óptica es diferente, por lo que nuestro equipo está aquí para guiarte en cada paso.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Nuestro Compromiso</h2>
                <p>
                    En <strong>E-commerce</strong>, garantizamos transacciones seguras, envíos rápidos y un servicio de atención al cliente excepcional. También nos comprometemos con el <strong>cuidado del medio ambiente</strong>, ofreciendo opciones sostenibles en nuestros productos y embalajes.
                </p>
            </div>
        </div>
    </div>
