<div>
    <h1>Productos</h1>
    <div>
        <form action="post">
            <label for="">Nombre:</label>
            <input type="text">
            <label for="">Descripcion:</label>
            <input type="text">
            <label for="">Categoria:</label>
            <input type="text">
            <label for="">Precio:</label>
            <input type="text">
            <label for="">Codigo:</label>
            <input type="text">
            <label for="">Stock:</label>
            <input type="text">
            <label for="">Imagen:</label>
            <input type="file">
        </form>
        <button type="submit">Enviar</button>
    </div>
    <div>
        {{> product}}
    </div>
</div>