<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mi Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/products">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <div class="d-flex">
            <a href="/api/carts" class="btn btn-outline-secondary position-relative">
            <i class="bi bi-cart"></i> <!-- Icono del carrito de Bootstrap -->
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            3 <!-- Cantidad de productos en el carrito -->
            </span>
            </a>
        </div>
        </div>
    </div>
</nav>

<!-- Asegúrate de tener el ícono de carrito de Bootstrap cargado -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
